.feedback-board {
    align-self: flex-start;
    width: 140px;
    min-width: 120px;
    height: 550px;
    background-color: gray;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    border-radius: 15px;
}

.feedback {
    margin: 0;
    margin-right: auto;
    width: 30px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(150, 146, 146);
}