.summary {
    display: flex;
    max-width: 100%;
    margin-top: 5px;
    justify-content: center;
    overflow: hidden;
}

.game-summary {
    display: flex;
    justify-content: center;
}

.game-summary-container {
    font-size: 20px;
    align-items: center;
    width: 50%;
}

.new-game {
    background-color: #4CAF50;
	border: 1px solid rgba(27, 31, 35, .15);
	color: white;
	border-radius: 6px;
    padding: 4px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
}

.new-game:hover {
    border: 1px solid black;
}


.winner {
    padding: 5px;
    font-size: 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-top: 5px;
}

.result-container {
    display: inline-block;
}
